{
    "parser" : "@typescript-eslint/parser",
    "extends": [
        "airbnb-base",
        "eslint-config-prettier",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "parserOptions": {
        "ecmaVersion": 6
    },
    "plugins": [
        "eslint-plugin-prettier",
        "@typescript-eslint"
    ],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "printWidth": 80
            }
        ]
    },
    "settings": {
        "react": {
            "version": "detect"
        },
    },
}